Repository meltano/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, pyupgrade

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py37-plus
  language: system

add sample_tap_bigquery
  samples/sample_tap_bigquery/__init__.py
Due: black, isort, mypy, pyupgrade

fix: reformat sql.py with black
  singer_sdk/streams/sql.py
Due: black, isort, flake8, mypy, pyupgrade

fix: reformat sample_tap_bigquery with black
  samples/sample_tap_bigquery/__init__.py
Due: black, isort, mypy, pyupgrade

fix: apply isort to sample_tap_bigquery
  samples/sample_tap_bigquery/__init__.py
Due: black, isort, mypy, pyupgrade

fix: flake8 errors
  samples/sample_tap_bigquery/__init__.py
  singer_sdk/streams/sql.py
Due: black, isort, flake8, mypy, pyupgrade

make extracted functions public
  samples/sample_tap_bigquery/__init__.py
  singer_sdk/streams/sql.py
Due: black, isort, flake8, mypy, pyupgrade

fix flake8 errors
  samples/sample_tap_bigquery/__init__.py
  singer_sdk/streams/sql.py
Due: black, isort, flake8, mypy, pyupgrade

chore: Add a test workflow
  .github/workflows/test.yml
Due: none

chore: Add pip constraints
  .github/workflows/contraints.txt
Due: none

chore: Add dependabot
  .github/dependabot.yml
Due: none

chore: Add workflow trigger
  .github/workflows/test.yml
Due: none

chore: Fix matrix yaml indentation
  .github/workflows/test.yml
Due: none

chore: Fix file name
  .github/workflows/constraints.txt
Due: none

chore: Add poetry cache
  .github/workflows/test.yml
Due: none

chore: Remove duplicate step
  .github/workflows/test.yml
Due: none

chore: Move poetry installation step before setup-python
  .github/workflows/test.yml
Due: none

chore: Use explicit Python version for Poetry venv
  .github/workflows/test.yml
Due: none

chore: Add lint job
  .github/workflows/test.yml
Due: none

chore: Use tox environments in matrix
  .github/workflows/test.yml
  tox.ini
Due: none

test: Mark all tests under tests/external*/ as 'external'
  .github/workflows/test.yml
  pyproject.toml
  tests/conftest.py
  tox.ini
Due: black, isort, pyupgrade

test: Combine coverage
  .github/workflows/test.yml
  tox.ini
Due: none

test: Continue to coverage if external tests fail
  .github/workflows/test.yml
Due: none

test: Add --parallel flag for coverage
  .github/workflows/test.yml
  tox.ini
Due: none

Make sure tox is installed
  .github/workflows/test.yml
Due: none

Fix tox env name
  tox.ini
Due: none

Upload coverage
  .github/workflows/test.yml
Due: none

Coverage fail under 85%
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Add doctest to matrix
  .github/workflows/test.yml
  tox.ini
Due: none

Add dependabot for GitHub Actions
  .github/dependabot.yml
Due: none

chore: groom changelog, add logging docs page (#676)
  CHANGELOG.md
  docs/implementation/index.md
  docs/implementation/logging.md
Due: none

SQL connector modular discover (#678)
  samples/sample_tap_bigquery/__init__.py
  singer_sdk/streams/sql.py
Due: black, isort, flake8, mypy, pyupgrade

skip external tests temporarily
  .github/workflows/test.yml
Due: none

chore: Add a test workflow (#679)
  .github/dependabot.yml
  .github/workflows/constraints.txt
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tox.ini
Due: black, isort, pyupgrade

docs update
  CONTRIBUTING.md
Due: none

add config and better docs
  .github/semantic.yml
  CONTRIBUTING.md
Due: none

docs: add config ref comment
  .github/semantic.yml
Due: none

docs: apply suggestion
  .github/semantic.yml
Due: none

docs: mention scopes
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

ci: add semantic-prs check for SDK PRs (#686)
  .github/semantic.yml
  CONTRIBUTING.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: singer_sdk/.* and \.py$
  mypy: any of: \.py$, but not: tests/.*
  pyupgrade: any of: \.py$
