Repository meltano/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, pyupgrade

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py37-plus
  language: system

Add changelog entry
  CHANGELOG.md
Due: none

Fix client.py for SQL tap cookiecutter
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/{%if 'SQL' == cookiecutter.stream_type %}client.py{%endif%}
Due: none

Changed cookiecutter template for non rest graphql client.py to evaluate equals other
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/{%if 'Other' == cookiecutter.stream_type %}client.py{%endif%}
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/{%if 'SQL' == cookiecutter.stream_type %}client.py{%endif%}
Due: none

test: Change var name
  tests/cookiecutters/test_cookiecutter.py
Due: black, isort, mypy, pyupgrade

test: Parametrize cookiecutter test cases
  .pre-commit-config.yaml
  pyproject.toml
  tests/cookiecutters/test_cookiecutter.py
Due: black, isort, mypy, pyupgrade

first iteration
  poetry.lock
  pyproject.toml
  singer_sdk/_state/__init__.py
  singer_sdk/_state/schema.py
  tests/state/test_state_handling.py
Due: black, isort, flake8, mypy, pyupgrade

move tests/state -> tests/core/state
  tests/core/state/test_state_handling.py
Due: black, isort, mypy, pyupgrade

use new state handling
  singer_sdk/_state/__init__.py
  singer_sdk/_state/schema.py
  singer_sdk/plugin_base.py
  singer_sdk/streams/core.py
  singer_sdk/tap_base.py
  tests/core/test_streams.py
  tests/state/test_state_handling.py
Due: black, isort, flake8, mypy, pyupgrade

fix: workaround for dataclass default_factory in Python 3.6
  singer_sdk/_state/schema.py
Due: black, isort, flake8, mypy, pyupgrade

Remove "0 errors" from logging output
  singer_sdk/plugin_base.py
Due: black, isort, flake8, mypy, pyupgrade

Update pyjwt
  poetry.lock
  pyproject.toml
Due: none

Update poetry.lock
  poetry.lock
Due: none

Update version definition
  poetry.lock
  pyproject.toml
Due: none

Use string version of private_key
  singer_sdk/authenticators.py
Due: black, isort, flake8, mypy, pyupgrade

Fix black
  singer_sdk/authenticators.py
Due: black, isort, flake8, mypy, pyupgrade

Upgrade pyjwt to 2.3.0
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  singer_sdk/authenticators.py
  singer_sdk/tap_base.py
Due: black, isort, flake8, mypy, pyupgrade

add failing test
  singer_sdk/tap_base.py
  tests/core/test_parent_child.py
Due: black, isort, flake8, mypy, pyupgrade

don't emit schema messages if stream is not selected
  singer_sdk/streams/core.py
Due: black, isort, flake8, mypy, pyupgrade

add changelog entry
  CHANGELOG.md
Due: none

Resolve "If Parent Stream added automatically Schema is empty"
  CHANGELOG.md
  singer_sdk/streams/core.py
  singer_sdk/tap_base.py
  tests/core/test_parent_child.py
Due: black, isort, flake8, mypy, pyupgrade

Bump version: 0.4.6 → 0.4.7
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Release/v0.4.7
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

test: Test OAuthJWTAuthenticator payload
  .pre-commit-config.yaml
  tests/core/rest/test_authenticators.py
Due: black, isort, mypy, pyupgrade

Test JWT authenticator
  .pre-commit-config.yaml
  tests/core/rest/test_authenticators.py
Due: black, isort, mypy, pyupgrade

Parametrize cookiecutter tests for better reporting
  .pre-commit-config.yaml
  pyproject.toml
  tests/cookiecutters/test_cookiecutter.py
Due: black, isort, mypy, pyupgrade

Use maxlength for string fields if the schema provides it
  singer_sdk/typing.py
Due: black, isort, flake8, mypy, pyupgrade

Ignore activate_version message when destination table does not exist
  singer_sdk/sinks/sql.py
Due: black, isort, flake8, mypy, pyupgrade

Apply 1 suggestion(s) to 1 file(s)
  singer_sdk/typing.py
Due: black, isort, flake8, mypy, pyupgrade

Update tests to assert schema fields match record fields with stream_maps
  tests/core/test_mapper.py
Due: black, isort, mypy, pyupgrade

Fix stream_maps not removing properties from schema when set to null
  singer_sdk/mapper.py
Due: black, isort, flake8, mypy, pyupgrade

Fix issue where CustomStreamMap does not flatten schema
  singer_sdk/mapper.py
Due: black, isort, flake8, mypy, pyupgrade

Update schema test fixture to yield before clearing lru cache
  tests/core/test_mapper.py
Due: black, isort, mypy, pyupgrade

test: type and string representation of JSON Schema -> SQL Type conversion
  tests/core/test_sql_typing.py
Due: black, isort, mypy, pyupgrade

docs: add changelog entry
  CHANGELOG.md
Due: none

Use `maxLength` for string fields if the schema provides it
  CHANGELOG.md
  singer_sdk/typing.py
  tests/core/test_sql_typing.py
Due: black, isort, flake8, mypy, pyupgrade

Update stream_maps test to assert all schemas have properties field
  tests/core/test_mapper.py
Due: black, isort, mypy, pyupgrade

Update flatten_schema to ensure only properties is overwritten after flattening
  singer_sdk/mapper.py
Due: black, isort, flake8, mypy, pyupgrade

Bump version: 0.4.7 → 0.4.8
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Move schema flattening fix to _flattening.py
  singer_sdk/helpers/_flattening.py
  singer_sdk/mapper.py
Due: black, isort, flake8, mypy, pyupgrade

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: singer_sdk/.* and \.py$
  mypy: any of: \.py$, but not: singer_sdk/tests/.*
  pyupgrade: any of: \.py$
