Repository meltano/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, pyupgrade

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py37-plus
  language: system

Add failing test
  singer_sdk/helpers/_singer.py
  tests/core/test_mapper.py
Due: black, isort, flake8, mypy, pyupgrade

Don't pop property key from stream map config
  singer_sdk/mapper.py
Due: black, isort, flake8, mypy, pyupgrade

Add changelog entry
  CHANGELOG.md
Due: none

Fix SQLAlchemy warning
  singer_sdk/streams/sql.py
Due: black, isort, flake8, mypy, pyupgrade

add failing test
  tests/core/test_plugin_config.py
Due: black, isort, mypy, pyupgrade

allow falsey defaults
  singer_sdk/typing.py
Due: black, isort, flake8, mypy, pyupgrade

changelog
  CHANGELOG.md
Due: none

isort fix
  tests/core/test_plugin_config.py
Due: black, isort, mypy, pyupgrade

add .env support to cookiecutters
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/tests/{{ 'test' }}_core.py
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/{{cookiecutter.library_name}}/tests/{{ 'test' }}_core.py
Due: black, isort, mypy, pyupgrade

Update changelog
  CHANGELOG.md
Due: none

Fix: falsey defaults are not applied to config settings
  CHANGELOG.md
  singer_sdk/typing.py
  tests/core/test_plugin_config.py
Due: black, isort, flake8, mypy, pyupgrade

Fix SQLAlchemy warning
  CHANGELOG.md
  singer_sdk/streams/sql.py
Due: black, isort, flake8, mypy, pyupgrade

Resolve "Use a stable poetry-core in cookiecutter templates and recommend it in the docs"
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/python_tips.md
Due: none

Fix: Setting property to `null` in stream map config fails to remove it
  CHANGELOG.md
  singer_sdk/helpers/_singer.py
  singer_sdk/mapper.py
  tests/core/test_mapper.py
Due: black, isort, flake8, mypy, pyupgrade

Fix small typo
  singer_sdk/tap_base.py
Due: black, isort, flake8, mypy, pyupgrade

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Bump version: 0.4.4 → 0.4.5
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

chore: Remove sections from CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

A wording change in the changelog
  CHANGELOG.md
Due: none

Release v0.4.5
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Better exception for uninstantiated wrapped types
  singer_sdk/typing.py
  tests/core/test_jsonschema_helpers.py
Due: black, isort, flake8, mypy, pyupgrade

fix: use JSONPath extended parser
  singer_sdk/helpers/jsonpath.py
  tests/core/test_streams.py
Due: black, isort, flake8, mypy, pyupgrade

docs: add changelog entry
  CHANGELOG.md
Due: none

docs: add HATEOAS code sample
  docs/code_samples.md
Due: none

test: Move test case to test_next_page_token_jsonpath
  tests/core/test_streams.py
Due: black, isort, mypy, pyupgrade

Resolve "Raise more descriptive exceptions when wrapped JSON typing classes needs to be instantiated"
  singer_sdk/typing.py
  tests/core/test_jsonschema_helpers.py
Due: black, isort, flake8, mypy, pyupgrade

Resolve "JSONPath expressions don't support extensions"
  CHANGELOG.md
  docs/code_samples.md
  singer_sdk/helpers/jsonpath.py
  tests/core/test_streams.py
Due: black, isort, flake8, mypy, pyupgrade

Update .gitlab/CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

Add Cody to CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

Update the changelog
  CHANGELOG.md
Due: none

Update Sphinx
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Fix failing docs builds
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Bump version: 0.4.5 → 0.4.6
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Apply 1 suggestion(s) to 1 file(s)
  CHANGELOG.md
Due: none

Release v0.4.6
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

SDK Issue 353changed 'SQL' check for class Tap() to look at stream_type not source_name
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/tap.py
Due: black, isort, mypy, pyupgrade

Issue 353 Changed 'SQL' check for class Tap() to look at stream_type not source_name
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/tap.py
Due: black, isort, mypy, pyupgrade

Changed cookiecutter template for non rest graphql client.py to evaltuate equals other
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/{%if 'Other' == cookiecutter.stream_type %}client.py{%endif%}
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: singer_sdk/.* and \.py$
  mypy: any of: \.py$, but not: singer_sdk/tests/.*
  pyupgrade: any of: \.py$
