Repository meltano/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, pyupgrade

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py37-plus
  language: system

Use generic parameter markers to update _sdc_deleted_at (when processing activate_version record)
  CHANGELOG.md
  singer_sdk/sinks/sql.py
  tests/core/test_sqlite.py
Due: black, isort, flake8, mypy, pyupgrade

Bump version: 0.4.9 → 0.4.10
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Bump version: 0.4.9 → 0.5.0
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Release v0.5.0
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

no info message if stream maps not applied
  singer_sdk/mapper.py
Due: black, isort, flake8, mypy, pyupgrade

Remove logging message 'Unmapped streams will be included in output.'
  singer_sdk/mapper.py
Due: black, isort, flake8, mypy, pyupgrade

improve logging for unmapped properties
  singer_sdk/helpers/_typing.py
Due: black, isort, flake8, mypy, pyupgrade

Allow users to set tap LOGLEVEL
  singer_sdk/plugin_base.py
Due: black, isort, flake8, mypy, pyupgrade

Update plugin_base.py
  singer_sdk/plugin_base.py
Due: black, isort, flake8, mypy, pyupgrade

Update _typing.py
  singer_sdk/helpers/_typing.py
Due: black, isort, flake8, mypy, pyupgrade

Use tuple instead
  singer_sdk/helpers/_typing.py
Due: black, isort, flake8, mypy, pyupgrade

'at least once' docs
  docs/implementation/at_least_once.md
  docs/implementation/state.md
Due: none

fix typos, clarify wording
  docs/implementation/at_least_once.md
Due: none

add signposts explanation
  docs/implementation/at_least_once.md
Due: none

clean up signpost language
  docs/implementation/at_least_once.md
Due: none

3 not 2
  docs/implementation/at_least_once.md
Due: none

fix grammar
  docs/implementation/at_least_once.md
Due: none

add sample dedupe implementation
  docs/implementation/at_least_once.md
Due: none

c-style comments
  docs/implementation/at_least_once.md
Due: none

Update release template with link using pre-filled values
  .gitlab/issue_templates/Release.md
Due: none

reference the dbt macro
  docs/implementation/at_least_once.md
Due: none

Add 'at least once' implementation info to SDK docs
  docs/implementation/at_least_once.md
  docs/implementation/state.md
Due: none

Fix links in code_samples.md
  docs/code_samples.md
  singer_sdk/streams/rest.py
Due: black, isort, flake8, mypy, pyupgrade

docs: Fail on warning
  .readthedocs.yml
Due: none

docs: Document singer_sdk.typing classes
  docs/index.rst
  docs/reference.rst
  docs/typing.rst
  singer_sdk/typing.py
Due: black, isort, flake8, mypy, pyupgrade

Fix Sphinx warnings
  docs/implementation/at_least_once.md
  docs/implementation/index.md
Due: none

chore: Bump PyJWT to ~=2.4
  poetry.lock
  pyproject.toml
Due: none

docs: Add changelog entry
  CHANGELOG.md
Due: none

chore: Bump PyJWT to ~=2.4
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

fix: Do not write SQLAlchemy logs to stdout
  pyproject.toml
  singer_sdk/streams/sql.py
Due: black, isort, flake8, mypy, pyupgrade

Apply 1 suggestion(s) to 1 file(s)
  pyproject.toml
Due: none

fix: Do not write SQLAlchemy logs to stdout
  singer_sdk/streams/sql.py
Due: black, isort, flake8, mypy, pyupgrade

Improve logs for unmapped properties and allow users to set tap LOGLEVEL
  singer_sdk/helpers/_typing.py
  singer_sdk/plugin_base.py
Due: black, isort, flake8, mypy, pyupgrade

groom changelog, add logging docs page
  CHANGELOG.md
  docs/implementation/index.md
  docs/implementation/logging.md
Due: none

split discover_catalog_entries
  singer_sdk/streams/sql.py
Due: black, isort, flake8, mypy, pyupgrade

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: singer_sdk/.* and \.py$
  mypy: any of: \.py$, but not: tests/.*
  pyupgrade: any of: \.py$
