Repository meltano/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, pyupgrade

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py37-plus
  language: system

chore: Update project metadata and GitLab references
  cookiecutter/tap-template/README.md
  cookiecutter/target-template/README.md
  docs/code_samples.md
  docs/dev_guide.md
  docs/faq.md
  docs/implementation/at_least_once.md
  docs/index.rst
  docs/python_tips.md
  pyproject.toml
  singer_sdk/sinks/core.py
Due: black, isort, flake8, mypy, pyupgrade

chore: Update project metadata and other GitLab references (#687)
  cookiecutter/tap-template/README.md
  cookiecutter/target-template/README.md
  docs/code_samples.md
  docs/dev_guide.md
  docs/faq.md
  docs/implementation/at_least_once.md
  docs/index.rst
  docs/python_tips.md
  pyproject.toml
  singer_sdk/sinks/core.py
Due: black, isort, flake8, mypy, pyupgrade

docs: update contributing ref
  CONTRIBUTING.md
Due: none

docs: update implementation docs
  docs/implementation/catalog_metadata.md
Due: none

docs: update gitlab refs to github ones (#689)
  CONTRIBUTING.md
  docs/implementation/catalog_metadata.md
Due: none

ci: add help url for Semantic PRs check
  .github/semantic.yml
Due: none

ci: Enable external tests
  .github/workflows/test.yml
  README.md
Due: none

ci: Add start date for sample-tap-gitlab
  .github/workflows/test.yml
Due: none

chore: Update viztracer
  poetry.lock
  pyproject.toml
Due: none

ci: Enable external tests (#691)
  .github/workflows/test.yml
  README.md
  poetry.lock
  pyproject.toml
Due: none

ci: add help url for Semantic PRs check (#690)
  .github/semantic.yml
Due: none

chore: Add dependabot for Poetry dependencies
  .github/dependabot.yml
Due: none

chore: Fix team reviewer assignment for dependabot updates
  .github/dependabot.yml
Due: none

chore: Add dependabot checks for Poetry dependencies (#692)
  .github/dependabot.yml
Due: none

chore: Remove unsupported versioning-strategy value
  .github/dependabot.yml
Due: none

chore: Remove unsupported versioning-strategy value (#693)
  .github/dependabot.yml
Due: none

Add api costs hook
  singer_sdk/streams/core.py
  singer_sdk/streams/rest.py
  singer_sdk/tap_base.py
Due: black, isort, flake8, mypy, pyupgrade

Correct typing hints for older pythons
  singer_sdk/streams/rest.py
Due: black, isort, flake8, mypy, pyupgrade

chore: Add deps and deps-dev semantic PR scopes
  .github/semantic.yml
Due: none

ci: Add `deps` and `deps-dev` semantic PR scopes (#705)
  .github/semantic.yml
Due: none

fix: Use str in Generic counter type
  poetry.lock
  pyproject.toml
  singer_sdk/io_base.py
  singer_sdk/target_base.py
Due: black, isort, flake8, mypy, pyupgrade

Fix DeprecatedEnumMeta.__call__ signature
  singer_sdk/helpers/capabilities.py
  tests/core/test_capabilities.py
Due: black, isort, flake8, mypy, pyupgrade

Rename api to sync
  singer_sdk/streams/core.py
Due: black, isort, flake8, mypy, pyupgrade

Apply suggestions from code review
  singer_sdk/streams/core.py
  singer_sdk/streams/rest.py
  singer_sdk/tap_base.py
Due: black, isort, flake8, mypy, pyupgrade

Rename cost methods
  singer_sdk/streams/rest.py
Due: black, isort, flake8, mypy, pyupgrade

Add sync costs calculation test
  tests/core/test_streams.py
Due: black, isort, pyupgrade

fix: Use correct values in cookiecutter tests
  cookiecutter/tap-template/cookiecutter.tests.yml
Due: none

Update types to make flake8 happy
  singer_sdk/authenticators.py
  singer_sdk/helpers/capabilities.py
  singer_sdk/mapper.py
  singer_sdk/streams/rest.py
  singer_sdk/typing.py
  tox.ini
Due: black, isort, flake8, mypy, pyupgrade

Issue 729, allow sort checking to be disabled
  singer_sdk/helpers/_state.py
  singer_sdk/streams/core.py
Due: black, isort, flake8, mypy, pyupgrade

feat: Implement paginators
  samples/sample_tap_gitlab/gitlab_rest_streams.py
  singer_sdk/pagination.py
  singer_sdk/streams/rest.py
  tests/core/rest/test_pagination.py
  tests/core/test_streams.py
  tox.ini
Due: black, isort, flake8, mypy, pyupgrade

docs: Add documentation for new implementation
  docs/classes/singer_sdk.pagination.BaseAPIPaginator.rst
  docs/classes/singer_sdk.pagination.BaseHATEOASPaginator.rst
  docs/classes/singer_sdk.pagination.BaseOffsetPaginator.rst
  docs/classes/singer_sdk.pagination.BasePageNumberPaginator.rst
  docs/classes/singer_sdk.pagination.HeaderLinkPaginator.rst
  docs/classes/singer_sdk.pagination.JSONPathPaginator.rst
  docs/classes/singer_sdk.pagination.LegacyPaginatedStreamProtocol.rst
  docs/classes/singer_sdk.pagination.LegacyStreamPaginator.rst
  docs/classes/singer_sdk.pagination.SimpleHeaderPaginator.rst
  docs/classes/singer_sdk.pagination.SinglePagePaginator.rst
  docs/porting.md
  docs/reference.rst
Due: none

ci: Use third-party pre-commit hooks
  .pre-commit-config.yaml
Due: none

Remove packages from pyproject.toml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: none

Apply initial pre-commit changes
  .bumpversion.cfg
  .github/workflows/test.yml
  .gitignore
  .gitlab/issue_templates/Feature Request.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/README.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/meltano.yml
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/{%if 'SQL' == cookiecutter.stream_type %}client.py{%endif%}
  cookiecutter/target-template/{{cookiecutter.target_id}}/meltano.yml
  cookiecutter/target-template/{{cookiecutter.target_id}}/{{cookiecutter.library_name}}/sinks.py
  docs/_templates/footer.html
  docs/faq.md
  docs/implementation/metrics.md
  docs/parent_streams.md
  samples/sample_tap_gitlab/gitlab-config.sample.json
  singer_sdk/helpers/_classproperty.py
  tests/core/test_target_input.py
  tests/external_snowflake/.secrets/snowflake-config.json.template
  tox.ini
Due: black, isort, flake8, mypy, pyupgrade

Drop lint job in GitLab CI
  .gitlab-ci.yml
Due: none

Add readme badge
  README.md
Due: none

feat(taps): Allow sort checking to be disabled (#730)
  singer_sdk/helpers/_state.py
  singer_sdk/streams/core.py
Due: black, isort, flake8, mypy, pyupgrade

ci: Disable external checks in forks
  .github/workflows/test.yml
Due: none

Check skipped
  .github/workflows/test.yml
Due: none

chore: Groom changelog
  CHANGELOG.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: singer_sdk/.* and \.py$
  mypy: any of: \.py$, but not: tests/.*
  pyupgrade: any of: \.py$
