Repository meltano/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        files: 'singer_sdk/.*'

      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        exclude: tests/.*

      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py37-plus
        language: system
        types: [python]

test: add doctests for schema flattening
  .gitlab-ci.yml
  pyproject.toml
  singer_sdk/helpers/_flattening.py
Due: black, isort, flake8, mypy, pyupgrade

docs: add changelog entry
  CHANGELOG.md
Due: none

Fix: Setting stream map property to `null` does not remove it from SCHEMA message
  .gitlab-ci.yml
  CHANGELOG.md
  pyproject.toml
  singer_sdk/helpers/_flattening.py
  singer_sdk/mapper.py
  tests/core/test_mapper.py
Due: black, isort, flake8, mypy, pyupgrade

Extend custom retry behaviour
  docs/code_samples.md
  singer_sdk/exceptions.py
  singer_sdk/streams/rest.py
  tests/core/rest/test_backoff.py
Due: black, isort, flake8, mypy, pyupgrade

Release/v0.4.8
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Add note on suppressing child state bookmarks.
  docs/parent_streams.md
Due: none

fix: call print_about from the class and not the instance
  singer_sdk/plugin_base.py
  singer_sdk/tap_base.py
Due: black, isort, flake8, mypy, pyupgrade

docs: fix anchors in code samples
  docs/code_samples.md
  docs/conf.py
  poetry.lock
  pyproject.toml
  singer_sdk/helpers/capabilities.py
Due: black, isort, flake8, mypy, pyupgrade

Handling of API Rate limits
  CHANGELOG.md
  docs/code_samples.md
  docs/conf.py
  poetry.lock
  pyproject.toml
  singer_sdk/exceptions.py
  singer_sdk/helpers/capabilities.py
  singer_sdk/streams/rest.py
  tests/core/rest/test_backoff.py
Due: black, isort, flake8, mypy, pyupgrade

Docs: Add note on suppressing child state bookmarks
  docs/parent_streams.md
Due: none

Bump version: 0.4.8 → 0.4.9
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Update CHANGELOG.md
  CHANGELOG.md
Due: none

docs: fix anchor headers
  docs/conf.py
  docs/implementation/cli.md
Due: black, isort, mypy, pyupgrade

Improved cli docs
  docs/conf.py
  docs/implementation/cli.md
Due: black, isort, mypy, pyupgrade

Release/v0.4.9
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Unit test for handling activate_version messages before the table exists
  tests/core/test_sqlite.py
Due: black, isort, pyupgrade

chore: make linter happy
  tests/core/test_sqlite.py
Due: black, isort, pyupgrade

docs: Tap SDK -> Target SDK
  CHANGELOG.md
Due: none

Ignore activate_version message when destination table does not exist
  CHANGELOG.md
  singer_sdk/sinks/sql.py
  tests/core/test_sqlite.py
Due: black, isort, flake8, mypy, pyupgrade

Apply changes to Target base class
  singer_sdk/target_base.py
Due: black, isort, flake8, mypy, pyupgrade

docs: Add changelog entry
  CHANGELOG.md
Due: none

Do not fail `--about` option if tap is not configured
  CHANGELOG.md
  singer_sdk/plugin_base.py
  singer_sdk/tap_base.py
  singer_sdk/target_base.py
Due: black, isort, flake8, mypy, pyupgrade

Use generic parameter markers to update _sdc_deleted_at (when processing activate_version record)
  singer_sdk/sinks/sql.py
  tests/core/test_sqlite.py
Due: black, isort, flake8, mypy, pyupgrade

Explicitly specify column names when inserting rows
  singer_sdk/sinks/sql.py
Due: black, isort, flake8, mypy, pyupgrade

Add 3.11-rc to CI matrix and allow failure
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
Due: none

Make Docs section optional in CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

Update changelog
  CHANGELOG.md
Due: none

Add documentation
  docs/implementation/cli.md
Due: none

Add failing test
  tests/configuration/test_dict_config.py
Due: black, isort, pyupgrade

Add reference in cookiecutters' readmes
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/README.md
  cookiecutter/target-template/{{cookiecutter.target_id}}/README.md
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Move tests/configuration to tests/core/configuration
  tests/core/configuration/test_dict_config.py
Due: black, isort, pyupgrade

Use dotenv
  poetry.lock
  pyproject.toml
  singer_sdk/configuration/_dict_config.py
  singer_sdk/plugin_base.py
  tests/configuration/test_dict_config.py
Due: black, isort, flake8, mypy, pyupgrade

Resolve "The `--config=ENV` option should consider environment variables from a dotenv (.env) file if present."
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/README.md
  cookiecutter/target-template/{{cookiecutter.target_id}}/README.md
  docs/implementation/cli.md
  poetry.lock
  pyproject.toml
  singer_sdk/configuration/_dict_config.py
  singer_sdk/plugin_base.py
  tests/core/configuration/test_dict_config.py
Due: black, isort, flake8, mypy, pyupgrade

Explicitly specify column names when inserting rows
  CHANGELOG.md
  singer_sdk/sinks/sql.py
Due: black, isort, flake8, mypy, pyupgrade

Make black happy
  tests/core/test_sqlite.py
Due: black, isort, pyupgrade
