Repository meltano/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, pyupgrade

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py37-plus
  language: system

Deprecate Python 3.6
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  singer_sdk/typing.py
  tests/core/test_record_typing.py
Due: black, isort, flake8, mypy, pyupgrade

Bump version: 0.4.2 → 0.4.3
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

changelog grooming
  CHANGELOG.md
Due: none

Adapt `StringType` with `format`
  singer_sdk/typing.py
Due: black, isort, flake8, mypy, pyupgrade

Subclass existing `string` types from `StringType`
  singer_sdk/typing.py
Due: black, isort, flake8, mypy, pyupgrade

Add other JSON Schema built-in formats
  singer_sdk/typing.py
Due: black, isort, flake8, mypy, pyupgrade

Remove duplicate class; fix lint issues
  singer_sdk/typing.py
Due: black, isort, flake8, mypy, pyupgrade

`format` -> `string_format`
  singer_sdk/typing.py
Due: black, isort, flake8, mypy, pyupgrade

Remove internationalised types
  singer_sdk/typing.py
Due: black, isort, flake8, mypy, pyupgrade

Add Edgar and remove Douwe
  .gitlab/CODEOWNERS
Due: none

Update CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/CODEOWNERS
Due: none

Resolve "Update CODEOWNERS to align with new MR review process"
  .gitlab/CODEOWNERS
Due: none

Test commit
  singer_sdk/tap_base.py
Due: black, isort, flake8, mypy, pyupgrade

test docs
  docs/code_samples.md
Due: none

Add test for built-in JSON types
  tests/core/test_jsonschema_helpers.py
Due: black, isort, mypy, pyupgrade

Add tests for `ArrayType`, `ObjectType` and `CustomType`
  tests/core/test_jsonschema_helpers.py
Due: black, isort, mypy, pyupgrade

Fix import lint issues
  tests/core/test_jsonschema_helpers.py
Due: black, isort, mypy, pyupgrade

Define all built-in JSON Schema string formats as separate types
  singer_sdk/typing.py
  tests/core/test_jsonschema_helpers.py
Due: black, isort, flake8, mypy, pyupgrade

Bump version: 0.4.3 → 0.4.4
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Release v0.4.4
  .bumpversion.cfg
  CHANGELOG.md
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: black, isort, mypy, pyupgrade

Update .gitlab/issue_templates/Release.md
  .gitlab/issue_templates/Release.md
Due: none

initial porting guide revamp
  docs/porting.md
Due: none

minor fixes, add section for SQL taps
  docs/porting.md
Due: none

add tip re: auto generated reame
  docs/porting.md
Due: none

update readme, add cookiecutter TODO annotation
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/{%if 'GraphQL' == cookiecutter.stream_type %}client.py{%endif%}
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/{%if 'REST' == cookiecutter.stream_type %}client.py{%endif%}
  docs/porting.md
Due: none

fix missing youtube link
  docs/porting.md
Due: none

Updated Tap Porting Guide
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/{%if 'GraphQL' == cookiecutter.stream_type %}client.py{%endif%}
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/{%if 'REST' == cookiecutter.stream_type %}client.py{%endif%}
  docs/porting.md
Due: none

Fix: Use merge_environment_settings in RESTStream
  singer_sdk/streams/rest.py
Due: black, isort, flake8, mypy, pyupgrade

improved cli docs
  docs/implementation/cli.md
Due: none

add info on `--input`
  docs/implementation/cli.md
Due: none

improved organization and readability
  docs/implementation/cli.md
Due: none

Allow skipping a partition by raising a specific exception
  singer_sdk/exceptions.py
  singer_sdk/streams/core.py
Due: black, isort, flake8, mypy, pyupgrade

Fix linter errors
  singer_sdk/streams/core.py
Due: black, isort, flake8, mypy, pyupgrade

update docs links
  CONTRIBUTING.md
  docs/cli_commands.md
Due: none

more links
  docs/dev_guide.md
  docs/index.rst
Due: none

pinned poetry-core>=1.0.8 and updated guidance.
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  docs/python_tips.md
Due: none

UUID mapping added
  poetry.lock
  pyproject.toml
  singer_sdk/mapper.py
  tests/core/test_mapper.py
Due: black, isort, flake8, mypy, pyupgrade

Resolve "Full check for broken links in Python text, especially links to docs.meltano.com"
  CONTRIBUTING.md
  docs/cli_commands.md
  docs/dev_guide.md
  docs/index.rst
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: singer_sdk/.* and \.py$
  mypy: any of: \.py$, but not: singer_sdk/tests/.*
  pyupgrade: any of: \.py$
